* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
/**general container settings**/
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding: 0 20px;
}

/*HEADER*/
body {
  padding-top: 60px;
}

#header {
  background-color: #0084fd;
  height: 60px;
  line-height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

#header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/**NAV MENù **/
.nav-bar > ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  color: white;
  font-size: 15px;
  display: none;
}

.nav-bar > ul li {
  margin-right: 15px;
}

#nav-button {
  padding: 6px 8px;
  background-color: white;
  border-radius: 15px;
  text-decoration: none;
  color: black;
}

/*MAIN*/

/*1TH Section*/
#main-container > .container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

#main-container > .container .col {
  width: 100%;
  min-height: 250px;

  margin-bottom: 25px;
  /* border: 1px dashed red; */

  background-color: #b5ddff;
  border-radius: 10px;
  padding: 20px 15px 0 15px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

#main-container .col .card {
  width: 100%;
  min-height: 50px;

  /* border: 1px dashed red; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  text-align: center;
}

#main-container .col .card > img {
  width: 80%;
  margin-top: 20px;
}

#main-container .col .card > .fa-file-code,
.fa-compass-drafting,
.fa-laptop-code,
.fa-bullhorn {
  font-size: 50px;
  margin-bottom: 20px;
}

#main-container .col .card > h3,
p,
.main-button {
  margin-bottom: 20px;
}

#main-container .col .card > h3 {
  color: #0486fd;
}
#main-container #first-column .card > p {
  font-size: 13px;
  color: #36424c;
  text-align: left;
}

#main-container .col .card > .main-button {
  background-color: #0486fd;
  padding: 10px 40px;
  color: white;
  border-radius: 20px;
  cursor: pointer;
}

/* 2th Section - Strategic Planning */
#strategic-planning {
  background-color: #9792e4;
  max-width: 100%;
  padding-top: 5px;
}

#strategic-planning > .container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

#strategic-planning > .container .sp-col {
  width: 100%;
  min-height: 250px;

  margin-bottom: 25px;
  /* border: 1px dashed rgb(255, 191, 0); */

  background-color: #ffffff;
  border-radius: 50px;
  padding: 20px 15px 20px 15px;

  display: flex;
  flex-direction: column;
}

#strategic-planning > .container .sp-col:first-child {
  color: white;
}

#strategic-planning > .container #first-sp-col {
  background-color: #9792e4;
}

#strategic-planning .container .sp-col > #appdev {
  text-align: left;
}

#strategic-planning .container .sp-col .card {
  width: 100%;
  /* min-height: 40px; */
  /* border: 2px dashed red; */
  text-align: center;
}

.sp-col .card > img {
  width: 100%;
  margin-bottom: 20px;
}

.sp-col .card > h3 {
  margin-bottom: 25px;
}

.sp-col .card .arrow > .fa-arrow-down {
  background-color: #9792e4;
  border-radius: 50%;
  padding: 20px 16px;
  font-size: 15px;
}
/* 3th Section - TESTIMONIALS  */
#testimonials > .container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

#testimonials > .container .tn-col {
  width: 100%;
  min-height: 250px;

  margin-bottom: 25px;
  /* border: 2px dashed rgb(90, 126, 216); */

  background-color: #ffffff;
  border-radius: 10px;
  text-align: center;

  display: flex;
  flex-direction: column;
  padding: 20px;
}

#testimonials > .container .tn-col .card {
  width: 100%;
  min-height: 25px;
  background-color: #9792e4;
  /* border: 2px dashed orange; */

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 20px;
  border-radius: 40px;
  color: white;
  margin-bottom: 20px;
}

/* 3th Section Text */
.tn-col .tn-text {
  margin-bottom: 20px;
}
.tn-col .tn-text h5,
h4,
p {
  margin-bottom: 25px;
}

.tn-col .tn-text h4 {
  color: #9792e4;
}

/*card settings*/
.tn-col .card > .img-cont {
  width: 150px;
  min-height: 150px;
  /* border: 2px dashed yellow; */
  margin-bottom: 20px;
  aspect-ratio: 1;
}

.tn-col .card > .img-cont > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

/* 4th section BENEFITS  */

#benefits {
  background-color: #9792e4;
  padding-top: 5px;
}

#benefits .benf-title {
  text-align: center;
  color: white;
  margin-top: 20px;
}

#benefits > .container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#benefits > .container .ben-col {
  width: 100%;
  min-height: 250px;

  margin-bottom: 25px;
  border: 1px dashed rgb(255, 191, 0);

  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  color: #555555;
}
/*Benefits INSIDE .ben-col*/
#benefits > .container .ben-col > h2 {
  margin-bottom: 10px;
  font-size: 40px;
  color: #9792e4;
}
#benefits > .container .ben-col > h3 {
  margin-bottom: 10px;
  color: #9792e4;
}

#benefits > .container .ben-col .ben-button {
  background-color: #9792e4;
  color: white;
  padding: 10px 50px;
  border-radius: 50px;
  margin-top: 20px;
  cursor: pointer;
}

/* 5th Section About-US */
#about-us > .container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

/*au-text-cont*/
#about-us > .container .au-text-cont {
  width: 100%;
  min-height: 200px;

  margin-bottom: 25px;
  /* border: 1px dashed rgb(255, 191, 0); */

  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
}
#about-us > .container .au-text-cont h2 {
  color: #9792e4;
  margin-bottom: 25px;
}
#about-us > .container .au-text-cont p {
  line-height: 25px;
  color: #333333;
}

/*au-img-cont*/
#about-us > .container .au-img-cont {
  width: 100%;
  min-height: 200px;

  margin-bottom: 55px;
  /* border: 1px dashed rgb(255, 191, 0); */

  background-color: #ffffff;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.au-img-cont > .img-cont {
  width: 150px;
  min-height: 150px;
  /* border: 2px dashed yellow; */
  margin-bottom: 20px;
  aspect-ratio: 1;

  position: relative;
}

/*IMG SETTINGS*/
.au-img-cont > .img-cont .fa-quote-left {
  position: absolute;
  left: 104px;
  top: 20px;
  font-size: 55px;
}

.au-img-cont > .img-cont > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

/*TEXT AND BUTTON*/
.au-img-cont > p {
  font-size: 25px;
  color: #9792e4;
  font-weight: bold;
}

.au-img-cont .au-button {
  background-color: #9792e4;
  border-radius: 20px;
  padding: 10px 5px;
  color: white;
  cursor: pointer;
}
.au-img-cont .au-button > a {
  text-decoration: none;
  color: white;
  margin-left: 5px;
}

/* 6th section GET STARTED */
#get-started {
  background-color: #9792e4;
  padding-top: 5px;
}

#get-started > .container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  min-height: 250px; /*da togliere*/
}

#get-started > .container .gs-cont {
  width: 100%;
  min-height: 250px;

  margin-bottom: 25px;
  /* border: 1px dashed rgb(255, 106, 0); */
  color: white;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

/*TEXT SETTINGS*/
.gs-cont > h5 {
  font-weight: 100;
  margin-bottom: 10px;
}
.gs-cont > h3 {
  font-size: 25px;
  margin-bottom: 20px;
}
.gs-cont > h2 {
  font-size: 45px;
  color: #fdc15f;
  margin-bottom: 20px;
}
.gs-cont .gt-button {
  background-color: white;
  color: #fdc15f;
  padding: 20px 50px;
  border-radius: 35px;
  cursor: pointer;
  letter-spacing: 5px;
  margin-bottom: 20px;
}

.gs-cont span {
  font-size: 11px;
}
.gs-cont span > a {
  color: white;
}

/* FOOTER SECTION */
#footer-cont {
  background-color: #333333;
  padding-top: 2px;
}

#footer-cont > .container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

#footer-cont > .container .foot-cont {
  width: 100%;
  min-height: 50px;

  margin-bottom: 35px;
  border: 1px dashed rgb(255, 106, 0);

  background-color: #ffaa00;
}

/*********************************/
/***** MEDIA SCREEN SETTINGS *****/
/*********************************/

/********* TABLET **********/
/**************************/
@media screen and (min-width: 576px) {
  #main-container > .container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  #main-container > .container .col {
    width: calc(100% / 3 - 20px);
    margin: 10px 5px 10px 5px;
  }
  #main-container > .container .col:first-child {
    width: calc(100% / 3 * 2 - 12px);
  }

  /*  3th SECTION TESTIMONIALS */
  #testimonials > .container .tn-col {
    flex-direction: column;
  }
  #testimonials > .container .tn-col .card {
    flex-direction: row;
  }
  .tn-col .card > .img-cont {
    margin-bottom: 0;
    margin-right: 20px;
  }

  .tn-col .card .text-cont {
    text-align: left;
  }
  .tn-col .card .text-cont > h4,
  p {
    margin-bottom: 10px;
  }
  /* 4th section Benefits  */
  #benefits > .container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  #benefits > .container .ben-col {
    width: calc(100% / 2 - 20px);
    margin-left: 5px;
    margin-right: 5px;
  }

  /*   5th section - About Us  */
  #about-us > .container {
    flex-direction: row;
    justify-content: space-between;
  }
  #about-us > .container .au-text-cont {
    margin-right: 10px;
    width: 50%;
  }
  #about-us > .container .au-img-cont {
    width: 50%;
  }
}

/********** DESKTOP **********/
/****************************/
@media screen and (min-width: 992px) {
  /**HEADER**/
  #header > .container {
    max-width: 992px;
    margin-left: auto;
    margin-right: auto;
  }

  .nav-bar > ul {
    display: flex;
  }

  #header > .container .fa-bars {
    display: none;
  }

  /*** Main ***/
  #main-container > .container {
    max-width: 992px;
    margin-left: auto;
    margin-right: auto;
  }

  /* 1th section - get a demo */
  #main-container #first-column {
    flex-direction: row;
    align-items: flex-start;
  }
  /* 2th section - strategic planning */
  #strategic-planning > .container {
    flex-direction: row;
    max-width: 992px;
    margin-left: auto;
    margin-right: auto;
    align-items: end;
  }
  #strategic-planning > .container .sp-col:first-child {
    margin-right: 20px;
  }
  #strategic-planning > .container #last-sp-col {
    width: 60%;
    height: 80%;
  }

  /* 3th SECTION  - TESTIMONIALS */
  #testimonials > .container {
    max-width: 992px;
    margin-left: auto;
    margin-right: auto;
  }
  /* 4th section - Benefits */
  #benefits > .container {
    max-width: 992px;
    margin-left: auto;
    margin-right: auto;
  }
  #benefits > .container .ben-col {
    width: calc(100% / 3 - 20px);
    margin-left: 5px;
    margin-right: 5px;
  }

  /*   5th section - About Us  */
  #about-us > .container {
    max-width: 992px;
    margin-left: auto;
    margin-right: auto;

    flex-direction: row;
    justify-content: space-between;
  }
  #about-us > .container .au-text-cont {
    width: 65%;
  }
  #about-us > .container .au-img-cont {
    width: 30%;
  }

  /* 6th section - GET STARTED */
  #get-started > .container {
    max-width: 992px;
    margin-left: auto;
    margin-right: auto;
  }

  /* FOOTER SECTION */
  #footer-cont > .container {
    max-width: 992px;
    margin-left: auto;
    margin-right: auto;
  }
}
