* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*HEADER*/
body {
  padding-top: 60px;
}
#header {
  background-color: #0084fd;
  height: 60px;
  line-height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding: 0 20px;
}

#header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*MAIN*/

/*1TH Section*/
#main-container > .container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

#main-container > .container .col {
  width: 100%;
  min-height: 250px;

  margin-bottom: 25px;
  border: 1px dashed red;

  background-color: #b5ddff;
  border-radius: 10px;
}

/* 2th Section - Strategic Planning */
#strategic-planning {
  background-color: #9792e4;
  max-width: 100%;
  padding-top: 5px;
}

#strategic-planning > .container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

#strategic-planning > .container .sp-col {
  width: 100%;
  min-height: 250px;

  margin-bottom: 25px;
  border: 1px dashed rgb(255, 191, 0);

  background-color: #ffffff;
  border-radius: 10px;
}

/* 3th Section - TESTIMONIALS  */
#testimonials > .container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

#testimonials > .container .tn-col {
  width: 100%;
  min-height: 250px;

  margin-bottom: 25px;
  border: 1px dashed rgb(255, 191, 0);

  background-color: #9792e4;
  border-radius: 10px;
}

/* 4th section BENEFITS  */

#benefits {
  background-color: #9792e4;
  padding-top: 5px;
}

#benefits > .container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

#benefits > .container .ben-col {
  width: 100%;
  min-height: 250px;

  margin-bottom: 25px;
  border: 1px dashed rgb(255, 191, 0);

  background-color: #ffffff;
  border-radius: 10px;
}

/* 5th Section About-US */
#about-us > .container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

#about-us > .container .au-text-cont {
  width: 100%;
  min-height: 200px;

  margin-bottom: 25px;
  border: 1px dashed rgb(255, 191, 0);

  background-color: #9792e4;
  border-radius: 10px;
}
#about-us > .container .au-img-cont {
  width: 100%;
  min-height: 200px;

  margin-bottom: 25px;
  border: 1px dashed rgb(255, 191, 0);

  background-color: #9792e4;
  border-radius: 10px;
}

/*********************************/
/***** MEDIA SCREEN SETTINGS *****/
/*********************************/

/*TABLET*/
@media screen and (min-width: 576px) {
  #main-container > .container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  #main-container > .container .col {
    width: calc(100% / 3 - 20px);
    margin: 10px 5px 10px 5px;
  }
  #main-container > .container .col:first-child {
    width: calc(100% / 3 * 2 - 12px);
  }

  /* 4th section Benefits  */
  #benefits > .container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  #benefits > .container .ben-col {
    width: calc(100% / 2 - 20px);
    margin-left: 5px;
    margin-right: 5px;
  }

  /*   5th section - About Us  */
  #about-us > .container {
    flex-direction: row;
    justify-content: space-between;
  }
  #about-us > .container .au-text-cont {
    margin-right: 10px;
    width: 50%;
  }
  #about-us > .container .au-img-cont {
    width: 50%;
  }
}

/*DESKTOP*/
@media screen and (min-width: 992px) {
  #main-container > .container {
    max-width: 992px;
    margin-left: auto;
    margin-right: auto;
  }
  /* 2th section - strategic planning */
  #strategic-planning > .container {
    flex-direction: row;
    max-width: 992px;
    margin-left: auto;
    margin-right: auto;
  }
  #strategic-planning > .container .sp-col:first-child {
    margin-right: 20px;
  }

  /* 3th SECTION  - TESTIMONIALS */
  #testimonials > .container {
    max-width: 992px;
    margin-left: auto;
    margin-right: auto;
  }

  /* 4th section - Benefits */
  #benefits > .container {
    max-width: 992px;
    margin-left: auto;
    margin-right: auto;
  }
  #benefits > .container .ben-col {
    width: calc(100% / 3 - 20px);
    margin-left: 5px;
    margin-right: 5px;
  }

  /*   5th section - About Us  */
  #about-us > .container {
    max-width: 992px;
    margin-left: auto;
    margin-right: auto;

    flex-direction: row;
    justify-content: space-between;
  }
  #about-us > .container .au-text-cont {
    width: 65%;
  }
  #about-us > .container .au-img-cont {
    width: 30%;
  }
}
